# --- System & IDEs ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
Thumbs.db

# --- linker51-python ---
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- linker51-mcu ---
linker51-mcu/output/
linker51-mcu/listing/
linker51-mcu/*.obj
linker51-mcu/*.lst
linker51-mcu/*.m51
linker51-mcu/*.lnp
linker51-mcu/*.uvgui.*
linker51-mcu/*.uvopt
linker51-mcu/*.bak

# --- Global Logic ---
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/